@import './src/features/shared/ui/designSystemStyles.scss';

.icon-wrapper {
  display: inline-block;

  svg {
    width: 100%;
    height: 100%;
  }
}

.icon-1 {
  width: $dimension-1;
  height: $dimension-1;
}

.icon-2 {
  width: $dimension-2;
  height: $dimension-2;
}

.icon-3 {
  width: $dimension-3;
  height: $dimension-3;
}

.icon-4 {
  width: $dimension-4;
  height: $dimension-4;
}

.icon-5 {
  width: $dimension-5;
  height: $dimension-5;
}

.icon-6 {
  width: $dimension-6;
  height: $dimension-6;
}

.icon-7 {
  width: $dimension-7;
  height: $dimension-7;
}

.icon-8 {
  width: $dimension-8;
  height: $dimension-8;
}

.icon-9 {
  width: $dimension-9;
  height: $dimension-9;
}

.icon-10 {
  width: $dimension-10;
  height: $dimension-10;
}
