@import './src/features/shared/ui/designSystemStyles/designSystemStyles.scss';

div.TargetingFilterGroup {
  padding: $spacer-4;
  background-color: $White;
  border: $border-1;
  border-radius: $border-radius-2;
}
