@import './src/features/shared/ui/designSystemStyles/designSystemStyles.scss';

[aria-label='Prompt template'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  pre {
    width: 80%;
    white-space: pre-wrap;
    max-height: $dimension-12;
  }

  button {
    padding: $spacer-3;
    width: 100%;

    svg {
      width: $dimension-4;
      color: $White;
      fill: $White;
    }
  }
}
