@import './src/features/shared/ui/designSystemStyles/designSystemStyles.scss';

[aria-label='Example prompt'] {
  display: flex;
  flex-direction: column;
  width: 100%;

  h4 {
    margin: $spacer-2 0;
    text-align: center;
    padding: 0 $spacer-5;
  }

  [aria-label='Prompt with navigation'] {
    display: flex;
    flex-direction: row;

    [role='navigation'] {
      padding: $spacer-2;
      border: none;

      &:hover {
        box-shadow: none;
        transform: none;
      }

      .rotate-90 {
        transform: rotate(90deg);
      }

      .rotate-270 {
        transform: rotate(270deg);
      }
    }

    pre {
      width: 100%;
      overflow: auto;
      border-radius: $border-radius-2;
      border: $border-1;
      margin: 0;
      box-sizing: border-box;
      transform: translateY($spacer-2);
    }

    button {
      z-index: 20;
      border-radius: $border-radius-2;
    }

    [aria-label='Prompt template'] {
      flex-grow: 1;
    }
  }
}
