@import './src/features/shared/ui/designSystemStyles/designSystemStyles.scss';

section[aria-label='Targeting builder'] {
  margin-top: $spacer-4;
  margin-bottom: $spacer-2;

  .loading {
    opacity: 0.4;
  }


  button[aria-label='Add filter group button'] {
    color: $White;
    background-color: $Black;
    width: 100%;
    padding: $spacer-3;

    .plus-circle-icon {
      fill: $White;
    }

    &:hover {
      box-shadow: $spacer-2 $spacer-2 0px 0px $MediumGray;
    }
  }
}
