@import './src/features/shared/ui/designSystemStyles/designSystemStyles.scss';

section[aria-label='Targeting builder'] {
  margin-top: $spacer-4;
  margin-bottom: $spacer-2;

  .loading {
    opacity: $opacity-disabled;
  }

  }
}
