@import './src/features/shared/ui/designSystemStyles.scss';
[aria-label='Filter'] {
  .filter-row {
    display: flex;
    flex-direction: row;
    gap: $spacer-4;
    align-items: start;
    width: 100%;

    @media (max-width: 40rem) {
      flex-wrap: wrap;
      align-items: end;
    }
  }

  .filter-row-content {
    display: flex;
    flex-direction: row;
    gap: $spacer-4;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;

    > * {
      flex: 1 1 auto;
      min-width: 0;
    }
    @media (max-width: 40rem) {
      flex: 1 1 100%;
      order: 1;
    }
  }
}
