@import './src/features/shared/ui/designSystemStyles.scss';

.number-input-with-label {
  display: flex;
  align-items: center;
  position: relative;

  input {
    padding-right: $spacer-9;

    &:focus {
      outline: $border-2;
      outline-color: $Gum;
    }
  }

  label {
    position: absolute;
    right: 10px;
    pointer-events: none;
    font-size: $font-size-sm;
  }
}
