$Black: #000;
$White: #fff;
$Off-white: #fefefb;
$Gum: #ff90e8;

$dimension-1: 0.125rem;
$dimension-2: 0.25rem;
$dimension-3: 0.5rem;
$dimension-4: 1rem;
$dimension-5: 1.25rem;
$dimension-6: 1.5rem;
$dimension-7: 2rem;
$dimension-8: 3rem;
$dimension-9: 4rem;
$dimension-10: 8rem;

$spacer-1: $dimension-1;
$spacer-2: $dimension-2;
$spacer-3: $dimension-3;
$spacer-4: $dimension-4;
$spacer-5: $dimension-5;
$spacer-6: $dimension-6;
$spacer-7: $dimension-7;
$spacer-8: $dimension-8;
$spacer-9: $dimension-9;
$spacer-10: $dimension-10;

$border-width-1: 1px;
$border-width-2: $dimension-1;
$border-width-3: $dimension-2;
$border-width-4: $dimension-3;

$border-1: $border-width-1 solid $Black;
$border-2: $border-width-2 solid $Black;
$border-3: $border-width-3 solid $Black;
$border-4: $border-width-4 solid $Black;

$border-radius-1: $dimension-1;
$border-radius-2: $dimension-2;
$border-radius-3: $dimension-3;
$border-radius-4: $dimension-4;

$shadow-regular: $spacer-2 $spacer-2 0px 0px $Black;

$transition-regular: all 0.15s ease-in-out;

:root {
  --Black: #{$Black};
  --White: #{$White};
  --Off-white: #{$Off-white};

  --dimension-1: #{$dimension-1};
  --dimension-2: #{$dimension-2};
  --dimension-3: #{$dimension-3};
  --dimension-4: #{$dimension-4};
  --dimension-5: #{$dimension-5};
  --dimension-6: #{$dimension-6};
  --dimension-7: #{$dimension-7};
  --dimension-8: #{$dimension-8};
  --dimension-9: #{$dimension-9};
  --dimension-10: #{$dimension-10};

  --spacer-1: #{$spacer-1};
  --spacer-2: #{$spacer-2};
  --spacer-3: #{$spacer-3};
  --spacer-4: #{$spacer-4};
  --spacer-5: #{$spacer-5};
  --spacer-6: #{$spacer-6};
  --spacer-7: #{$spacer-7};
  --spacer-8: #{$spacer-8};
  --spacer-9: #{$spacer-9};
  --spacer-10: #{$spacer-10};

  --border-width-1: #{$border-width-1};
  --border-width-2: #{$border-width-2};
  --border-width-3: #{$border-width-3};
  --border-width-4: #{$border-width-4};

  --border-1: #{$border-1};
  --border-2: #{$border-2};
  --border-3: #{$border-3};
  --border-4: #{$border-4};

  --border-radius-1: #{$border-radius-1};
  --border-radius-2: #{$border-radius-2};
  --border-radius-3: #{$border-radius-3};
  --border-radius-4: #{$border-radius-4};

  --shadow: #{$shadow-regular};

  --transition: #{$transition-regular};
}

/* Layout utility classes */

/* Common margins */

.m-1 {
  margin: $spacer-1;
}

.m-2 {
  margin: $spacer-2;
}

.m-3 {
  margin: $spacer-3;
}

.m-4 {
  margin: $spacer-4;
}

.mt-1 {
  margin-top: $spacer-1;
}

.mt-2 {
  margin-top: $spacer-2;
}

.mt-3 {
  margin-top: $spacer-3;
}

.mt-4 {
  margin-top: $spacer-4;
}

.mr-1 {
  margin-right: $spacer-1;
}

.mr-2 {
  margin-right: $spacer-2;
}

.mr-3 {
  margin-right: $spacer-3;
}

.mr-4 {
  margin-right: $spacer-4;
}

.mb-1 {
  margin-bottom: $spacer-1;
}

.mb-2 {
  margin-bottom: $spacer-2;
}

.mb-3 {
  margin-bottom: $spacer-3;
}

.mb-4 {
  margin-bottom: $spacer-4;
}

.ml-1 {
  margin-left: $spacer-1;
}

.ml-2 {
  margin-left: $spacer-2;
}

.ml-3 {
  margin-left: $spacer-3;
}

.ml-4 {
  margin-left: $spacer-4;
}

.my-1 {
  margin-top: $spacer-1;
  margin-bottom: $spacer-1;
}

.my-2 {
  margin-top: $spacer-2;
  margin-bottom: $spacer-2;
}

.my-3 {
  margin-top: $spacer-3;
  margin-bottom: $spacer-3;
}

.my-4 {
  margin-top: $spacer-4;
  margin-bottom: $spacer-4;
}

.mx-1 {
  margin-left: $spacer-1;
  margin-right: $spacer-1;
}

.mx-2 {
  margin-left: $spacer-2;
  margin-right: $spacer-2;
}

.mx-3 {
  margin-left: $spacer-3;
  margin-right: $spacer-3;
}

.mx-4 {
  margin-left: $spacer-4;
  margin-right: $spacer-4;
}

/* Common paddings */

.p-1 {
  padding: $spacer-1;
}

.p-2 {
  padding: $spacer-2;
}

.p-3 {
  padding: $spacer-3;
}

.p-4 {
  padding: $spacer-4;
}

.pt-1 {
  padding-top: $spacer-1;
}

.pt-2 {
  padding-top: $spacer-2;
}

.pt-3 {
  padding-top: $spacer-3;
}

.pt-4 {
  padding-top: $spacer-4;
}

.pr-1 {
  padding-right: $spacer-1;
}

.pr-2 {
  padding-right: $spacer-2;
}

.pr-3 {
  padding-right: $spacer-3;
}

.pr-4 {
  padding-right: $spacer-4;
}

.pb-1 {
  padding-bottom: $spacer-1;
}

.pb-2 {
  padding-bottom: $spacer-2;
}

.pb-3 {
  padding-bottom: $spacer-3;
}

.pb-4 {
  padding-bottom: $spacer-4;
}

.pl-1 {
  padding-left: $spacer-1;
}

.pl-2 {
  padding-left: $spacer-2;
}

.pl-3 {
  padding-left: $spacer-3;
}

.pl-4 {
  padding-left: $spacer-4;
}

.py-1 {
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;
}

.py-2 {
  padding-top: $spacer-2;
  padding-bottom: $spacer-2;
}

.py-3 {
  padding-top: $spacer-3;
  padding-bottom: $spacer-3;
}

.py-4 {
  padding-top: $spacer-4;
  padding-bottom: $spacer-4;
}

.px-1 {
  padding-left: $spacer-1;
  padding-right: $spacer-1;
}

.px-2 {
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}

.px-3 {
  padding-left: $spacer-3;
  padding-right: $spacer-3;
}

.px-4 {
  padding-left: $spacer-4;
  padding-right: $spacer-4;
}
