@import './src/features/shared/ui/designSystemStyles.scss';

[aria-label='Filter subject'] {
  position: relative;
  flex: 1 1 auto;

  [aria-label='Icon'] {
    position: absolute;
    left: -$dimension-1;
    top: -$dimension-1;
    height: $dimension-5;
    padding: $spacer-4;
    pointer-events: none;
  }

  &.location {
    flex: 1 1 9rem;
    min-width: 9rem;
  }

  &.date {
    flex: 1 1 7rem;
  }

  select {
    padding-left: $spacer-8;
  }
}
