@import './src/features/shared/ui/designSystemStyles.scss';

[aria-label='Filter value'] {
  flex: 1 0 auto;

  &.location {
    flex: 1 1 18rem;
    min-width: 0;
  }

  &.date {
    flex: 1 0 9.5rem;
    min-width: 0;
  }

  &.is-in-the-last {
    flex: 1 0 5rem;
    min-width: 6rem;
  }

  &.expanded {
    flex-basis: 100%;
    max-width: 100%;
  }

  @media (max-width: 60rem) {
    .number-input-with-label {
      width: 100%;
    }
  }
}
