@import './src/features/shared/ui/designSystemStyles/designSystemStyles.scss';

[aria-label='Add filter group button'] {
  fill: $White;
  height: $dimension-9;
  padding: 0;

  color: $White;
  background-color: $Black;
  width: 100%;
  padding: $spacer-3;

  .plus-circle-icon {
    fill: $White;
  }

  &:hover {
    box-shadow: $spacer-2 $spacer-2 0px 0px $MediumGray;
  }
  &[disabled] {
    opacity: $opacity-disabled;
    box-shadow: none;
  }
}
