@import './src/features/shared/ui/designSystemStyles.scss';

[role='alert'] {
  border: $border-1;
  border-radius: $border-radius-2;
  padding: $spacer-4 $spacer-2 $spacer-4 $spacer-4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: $spacer-3;

  &.error {
    border-color: $Red;
    color: $Red;

    svg {
      color: $Red;
      fill: $Red;
    }
  }

  .warning-icon-and-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacer-3;

    p {
      margin: 0;
      flex: 1 1 auto;
    }
  }

  [role='toolbar'] {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  [aria-label='Close warning button'] {
    border: 0;
    height: $dimension-7;
    padding: 0 $spacer-4 0 0;

    &:hover {
      box-shadow: none;
      transform: none;
    }
  }
}
